<div class="text-center">
  <h1>Contacts</h1>

  <table id="contacts" class="table table-striped tablesorter">
    <thead>
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Company</th>
        <th class="text-center">Role</th>
        <th class="text-center">Email</th>
        <th class="text-center">Point Person</th>
        <th class="text-center sorter-false filter-false" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td>
            <%= contact.first_name %> <%= contact.last_name %>
            <% if contact.core_alumni? and contact.columbia_alumni? %>
              (CA)
            <% elsif contact.columbia_alumni? %>
              (A)
            <% end %>
          </td>
          <td><%= contact.company %></td>
          <td><%= contact.role %></td>
          <td><%= contact.email %></td>
          <td><%= contact.point_person %></td>
          <td><%= link_to "<i class=\"fa fa-eye\"></i>".html_safe, contact %></td>
          <td><%= link_to "<i class=\"fa fa-pencil\"></i>".html_safe, edit_contact_path(contact) %></td>
          <td><%= link_to "<i class=\"fa fa-trash\"></i>".html_safe, contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
