<!DOCTYPE html>
<html>
<head>
  <title>CORE Contacts</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <script src="//twemoji.maxcdn.com/twemoji.min.js"></script>
  <%= csrf_meta_tags %>
  <%= render "layouts/navbar" %>
</head>
<body>

<%= yield %>

<script type="text/javascript">
  twemoji.parse(document.body, {size: 16});
</script>

</body>
</html>
